<form (fsForm)="save()" [fsSkeletonForm]="<%= underscore(singleModel) %>">
  <fs-dialog *ngIf="<%= underscore(singleModel) %>">
    <h1 mat-dialog-title>{{<%= underscore(singleModel) %>.id ? 'Edit <%= capitalize(startCase(singleModel)) %>' : 'Create <%= capitalize(startCase(singleModel)) %>'}}</h1>
    <div mat-dialog-content>

      <div fxLayout="column">
        <mat-form-field>
          <input
            matInput
            placeholder="Name"
            [(ngModel)]="<%= underscore(singleModel) %>.name"
            name="name">
        </mat-form-field>

      </div>
    </div>
    <div mat-dialog-actions>
      <button
        mat-button
        type="submit"
        color="primary">
        {{<%= underscore(singleModel) %>.id ? 'Save' : 'Create'}}
      </button>

      <button
        mat-button
        [mat-dialog-close]="undefined">
        Close
      </button>
    </div>
  </fs-dialog>
</form>
