<mat-card>
  <form fsForm [submit]="save" [fsSkeletonForm]="<%= underscore(singleModel) %>">
    <ng-container *ngIf="<%= underscore(singleModel) %>">

      <div fxLayout="column">
        <mat-form-field>
          <input
            matInput
            placeholder="Name"
            [(ngModel)]="<%= underscore(singleModel) %>.name"
            name="name">
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        type="submit"
        color="primary">
        {{<%= underscore(singleModel) %>.id ? 'Save' : 'Create'}}
      </button>
    </ng-container>
  </form>
</mat-card>
