<form (fsForm)="save()">
  <h1 mat-dialog-title>{{<%= camelize(singleModel) %>.id ? 'Edit <%= capitalize(singleModel) %>' : 'Create <%= capitalize(singleModel) %>'}}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="<%= camelize(singleModel) %>.name" name="name">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" color="primary">{{<%= camelize(singleModel) %>.id ? 'Save' : 'Create'}}</button>
    <button mat-button [mat-dialog-close]="true">Close</button>
  </div>
</form>
